15571083/
test*.csv
test*.txt
tmp*.csv
tmp*.txt
tmp*.xml
tmp*.mxl
data/curated/solo_piano_*
!data/curated/solo_piano_corpus.csv
!data/curated/solo_piano_mxl_paths.txt

__pycache__/
figures/
venv/

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
acs-*.bib
*.thm
*.nav
*.snm
*.vrb
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
**/auto/
*.el
*.pdf_tex
*_minted*/
_minted-*/
*.pyg
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
sympy-plots-for-*.tex/
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.listing
*.loe
*.dpth
*.md5
*.auxlock
*.tdo
